.twerk-container {
  position: relative;
  width: 600px;
  margin: 40px auto;
}

.car {
  width: 100%;
  display: block;
}

.nikki {
  position: absolute;
  width: 200px;
  left: 50%;
  bottom: 150px;
  transform: translateX(-50%);
  z-index: 10;
}

.nikki {
  position: absolute;
  width: 260px;
  left: 50%;
  bottom: 80px;
  transform: translateX(-50%);
  z-index: 10;

  animation: flip-side 2s infinite ease-in-out;
}

@keyframes flip-side {
  0% { transform: translateX(-50%) scaleX(1); }
  50% { transform: translateX(-50%) scaleX(-1); }
  100% { transform: translateX(-50%) scaleX(1); }
}
